
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,300,400,400i,600');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


html,
body{
    margin: 0;
    color: #333;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'IBM Plex Serif', serif;
}

body{
    /* padding: 20px; */
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Roboto', sans-serif;
}

.author-img {
    width: 50px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    border-bottom: 2px solid black;
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
}

.white-btn{
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
}

.article-container{
    max-width: 650px;
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
